@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

html {
  font-size: 80%;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 1.2rem;
}
